.wellness-tracker {
    color: var(--text-main);
}

.tracker-title {
    font-size: 2rem;
    text-align: center;
    font-weight: 300;
    margin-bottom: 25px;
    color: var(--color-secondary);
}

.tracker-grid {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.tracker-info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 8px;
}

.cat-name {
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: var(--color-secondary);
    font-weight: bold;
}

.current-score {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-accent-sun);
}

.current-score small {
    font-size: 0.8rem;
    opacity: 0.6;
}

.wellness-slider {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
    cursor: pointer;
    margin-bottom: 15px;
    height: 30px;
}

.wellness-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid var(--color-accent-sun);
    background: #f4f1ea;
    border: 2px solid var(--color-accent-sun);
    box-shadow: 0 0 12px rgba(254, 183, 128, 0.6);
    margin-top: -8px; 
    transition: transform 0.2s;
}

.wellness-slider:active::-webkit-slider-thumb {
    transform: scale(1.3);
}

.wellness-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
}

.progress-bar-container {
    position: relative;
    height: 4px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    overflow: visible; 
    margin-bottom: 8px;
}

.progress-bar-fill {
    height: 100%;
    border-radius: 10px;
    background: var(--color-primary-dark);
    transition: width 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.progress-bar-fill.achieved {
    background: linear-gradient(90deg, var(--color-accent-sun), white);
    box-shadow: 0 0 12px var(--color-accent-sun);
}

.target-marker {
    position: absolute;
    top: -4px;
    width: 2px;
    height: 12px;
    background: white;
    box-shadow: 0 0 5px var(--color-accent-orange);
    opacity: 0.6;
}

.target-footer {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.75rem;
    color: var(--color-accent-orange);
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.target-footer:hover {
    opacity: 1;
    color: var(--color-accent-sun);
}

.target-text {
    font-size: 0.9rem;
    color: var(--color-secondary);
}

.edit-target {
    font-size: 0.7rem;
    cursor: pointer;
    margin-left: 5px;
    color: var(--color-accent-sun)
}