.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-form h2 {
    margin-bottom: 30px;
    font-size: 1.9rem;
    font-weight: 400;
    color: var(--color-secondary);
}

.auth-form h3 {
    font-size: 1.5rem;
    font-weight: 450;
    color: var(--color-secondary);
}

.auth-form p {
    color: var(--color-secondary);
}

.auth-form .input-title {
    align-self: flex-start; 
    text-align: left;
    margin-left: 5px; 
    margin-bottom: 8px;
    margin-top: 15px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-secondary);
}

.auth-form input {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    padding: 14px 18px;
    color: var(--color-secondary);
    font-size: 1rem;
    transition: all 0.3s ease;
    outline: none;
}

.auth-form input, 
.auth-form button {
    width: 100%; 
    box-sizing: border-box;
}

.auth-form input::placeholder {
    color: var(--color-accent-sun);
}

.auth-form input:focus {
    background: rgba(255, 255, 255, 0.15);
    border-color: var(--color-accent-sun);
    box-shadow: 0 0 0 4px rgba(254, 183, 128, 0.15);
}

.auth-form button[type="submit"] {
    background: var(--color-primary-light);
    color: white;
    border: none;
    font-weight: 600;
    /* box-shadow: 0 4px 15px rgba(237, 235, 235, 0.4); */
    border-radius: 12px;
    padding: 15px;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-top: 30px;
}

.auth-form button[type="submit"]:hover {
    transform: translateY(-2px);
    filter: brightness(1.1);
}

.auth-form button[type="submit"]:active {
    transform: translateY(0);
}

.switch-link {
    font-size: 0.9rem;
    color: var(--color-secondary);
    cursor: pointer;
    text-decoration: underline var(--color-secondary);
    transition: color 0.3s ease;
    margin-top: 10px;
}

.switch-link:hover {
    color: var(--color-neutral-earth);
    text-decoration: underline var(--color-neutral-earth);
}

.forgot-link {
    cursor: pointer;
    font-size: 0.85rem;
    color: var(--color-accent-sun);
    opacity: 0.8;
    margin-top: 10px;
    text-decoration: underline transparent;
    transition: all 0.3s ease;
}

.forgot-link:hover {
    opacity: 1;
    text-decoration: underline;
}