@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,400&family=Playfair+Display:wght@400;600&display=swap');

.landing-page {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle at bottom, var(--color-accent-sun) 0%, var(--bg-site) 100%);
}

.landing-container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    animation: fadeIn 1s ease-out;
}

.logo-title {
    font-family: 'Playfair Display', serif;
    font-size: 10rem;
    font-weight: bold;
    color: var(--color-accent-sun);
    letter-spacing: 1.5rem;
    text-transform: uppercase;
    text-shadow: 0 0 20px rgba(205, 34, 34, 0.307),
                0 0 40px rgba(186, 56, 82, 0.233);
     
}

.auth-box {
    background: rgba(229, 216, 149, 0.176);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(20px);
    width: 75%;
    border: var(--glass-border);
    border-radius: 24px; 
    padding: 40px;
    box-shadow: var(--color-neutral-earth);
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

@media (max-width: 480px) {
    .logo-title { font-size: 2.5rem; }
    .auth-box { padding: 25px; }
}      