:root {
  --color-primary-light: #579393;
  --color-primary-dark: #7D8EA8;
  --color-secondary: #014F4E;
  --color-accent-sun: #FBE99BEC;
  --color-accent-orange: #FB756C;
  --color-neutral-earth: #B23F3FCF;

  --text-title: #FFD580;
  --text-accent: var(--color-accent-sun);
  --text-main: #FFFFFF;
  --text-secondary: rgba(255, 255, 255, 0.85);
  
  --bg-site: var(--color-neutral-earth);
  --bg-card: rgba(255, 255, 255, 0.12);
  --glass-border: 1px solid rgba(2255, 255, 255, 0.2);
  --shadow-soft: 0 10px 30px rgba(0, 0, 0, 0.2);

  --gradient-pop: radial-gradient(circle at 30% 30%, var(--color-accent-sun), var(--color-accent-orange));
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: radial-gradient(circle at top right, var(--color-primary-light) 0%, var(--color-neutral-earth) 60%, #1a0b0b 100%);
  background-attachment: fixed;
  color: var(--text-main);
  font-family: "Lora", sans-serif;
  min-height: 100vh;
}

button {
  cursor: pointer;
  transition: all 0.3s ease;
}

.container, .landing-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}
